NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_TASKS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_IDEAS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_MONEY_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_WEED_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_EVENTS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_HABITS_DB=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=3001
